.characterContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 0.75rem;
}

.containerSection {
  gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section {
  flex-direction: column;
}

.cardChar {
  padding: 0;
}

.card {
  cursor: pointer;
  height: 13rem;
}

.container {
  flex-direction: column;
}

.cardChar div[class="ant-card-body"] {
  padding: 0.75rem;
}

.divider {
  margin: 0.75rem 0;
}
